#contact{
    margin-bottom: 80px;
    h2{
        @include heading;
    }
    .contact_container{
        margin-top: 45px;
        background-color: $primaryColor;
        border-radius: 10px;
        transition: all linear .4s;
        &:hover{
            box-shadow: $boxShadowColor;
        }
        .message_section {
            padding: 40px 30px;
            h6 {
                @include contact_inner_header;
                @include titleDivider(0,calc(100% - 92px),30px);
            }
            form{
                margin-top: 50px;
                .input_button{
                    color: $primary_textColor;
                    font-size: 14px;
                    padding: 10px 20px;
                    margin-bottom: 30px;
                    background: none;
                    text-align: center;
                    border: none;
                    border-bottom: 2px solid $bgColor;
                    border-radius: 20px;
                    outline: none;
                    transition: all linear .3s;
                    &:focus{
                        border-bottom: 2px solid $secondaryColor;
                    }
                }
                textarea{
                    resize: none;
                    font-family: 'Roboto', sans-serif;
                }
                button{
                    font-size: 16px;
                    background: none;
                    border: none;
                    color: $primary_textColor;
                    padding: 10px 0px;
                    position: relative;
                    z-index: 1;
                    transition: all linear .3s;
                    @include lgResponsive(){
                        font-size: 15px;
                    }
                    @include mdResponsive(){
                        font-size: 14px;
                    }
                    @include smResponsive(){
                        font-size: 14px;
                    }
                    @include xsResponsive(){
                        font-size: 14px;
                    }
                    &::before{
                        position: absolute;
                        content: '';
                        width: 0%;
                        height: 0%;
                        border: 2px solid $secondaryColor;
                        border-radius: 10px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 0;
                        visibility: hidden;
                        transition: all linear .3s;
                        z-index: -1;
                    }
                    &:hover::before{
                        visibility: visible;
                        opacity: 1;
                        width: 30%;
                        @include mdResponsive(){
                            width: 40%;
                        }
                        @include xsResponsive(){
                            width: 50%;
                        }
                        height: 100%;
                    }
                }
            }
        }
        .getin_touch{
            padding: 40px 30px;
            h6{
                @include contact_inner_header;
                @include titleDivider(0, calc(100% - 92px), 30px);
                @include smResponsive(){
                    text-align: center;
                    @include titleDivider();
                }
                @include xsResponsive(){
                    text-align: center;
                    @include titleDivider();
                }
            }
            .phone{
                margin-top: 50px;
                @include smResponsive(){
                    justify-content: center;
                }
                @include xsResponsive(){
                    justify-content: center;
                }
               @include getinTouch;
            }
            .email{
                @include getinTouch;
                @include smResponsive(){
                    justify-content: center;
                }
                @include xsResponsive(){
                    justify-content: center;
                }
            }
            .address{
                @include getinTouch;
                @include smResponsive(){
                    justify-content: center;
                }
                @include xsResponsive(){
                    justify-content: center;
                }
            }
            .social_icon{
                @include social;
                @include smResponsive(){
                    justify-content: center;
                }
                @include xsResponsive(){
                    justify-content: center;
                }
            }
        }
    }
}