#hobies{
    margin-top: 80px;
    @include mdResponsive(){
        margin-top: 60px;
    }
    @include smResponsive(){
        margin-top: 45px;
    }
    @include smResponsive(){
        margin-top: 35px;
    }
    @include xsResponsive(){
        margin-top: 30px;
    }
    .hobbi_content{
        background-color: $primaryColor;
        border-radius: 10px;
        padding: 40px 30px;
        transition: all linear .3s;
        &:hover{
            box-shadow: $boxShadowColor;
        }
        h2{
            color: $secondaryColor;
            font-size: 22px;
            font-weight: 500;
            letter-spacing: 2px;
            margin-bottom: 30px;
            position: relative;
            @include titleDivider();
        }
        .hobbi_innerdiv{
            .hobbi_info{
                margin: 10px 0px;
                border-radius: 10px;
                transition: all linear .3s;
                &:hover{
                    box-shadow: inset 0px 0px 20px -6px #25ca7f;
                }
                .info_summery{
                    background-color: $bgColor;
                    border-radius: 10px;
                    padding: 15px 10px;
                    @include xsResponsive(){
                        padding: 10px 8px;
                    }
                    i{
                        color: $secondaryColor;
                        font-size: 20px;
                        padding-right: 15px;
                        @include mdResponsive(){
                            font-size: 15px;
                        }
                        @include smResponsive(){
                            font-size: 15px;
                        }
                        @include xsResponsive(){
                            font-size: 12px;
                            padding-right: 5px;
                        }
                    }
                    h3{
                        color: $primary_textColor;
                        font-size: 20px;
                        font-weight: 500;
                        letter-spacing: 2px;
                        @include lgResponsive(){
                            font-size: 18px;
                        }
                        @include mdResponsive(){
                            font-size: 15px;
                        }
                        @include smResponsive(){
                            font-size: 15px;
                        }
                        @include xsResponsive(){
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}