#smallNavbar{
    background-color: $primaryColor;
    box-shadow: $boxShadowColor;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    &.smallNavActive{
        position: fixed;
        animation: smallnavfixed 1s;
    }
    @keyframes smallnavfixed {
        from {
            top: -100px;
        }
        to {
            top: 0px;
        }
    }
    .sideNav{
        padding: 10px 0px;
        @include smResponsive(){
            padding: 5px 0px;
        }
        @include xsResponsive(){
            pad: 2px 0px;
        }
        .logo{
            width: 20%;
            img{
                height: 55px;
                width: 55px;
                border: 1px solid $secondaryColor;
                @include xsResponsive(){
                    height: 50px;
                    width: 50px;
                }
                border-radius: 50%;
            }
        }
        .coderName{
            width: 60%;
            text-align: center;
            h4{
                color: $secondaryColor;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 1px;
                @include xsResponsive(){
                    font-size: 16px;
                    font-weight: 300;
                }
            }
            h5{
                color: $secondaryColor;
                font-size: 14px;
                font-weight: 300;
                margin-top: 5px;
                @include xsResponsive(){
                    font-size: 13px;
                    font-weight: normal;
                    margin-top: 4px;
                }
            }
        }
        .navIcon{
            width: 20%;
            text-align: right;
            a{
                padding: 10px;
                @include xsResponsive(){
                    padding: 0px;
                }
                i{
                    color: $secondaryColor;
                    font-size: 25px;
                    z-index: 99;
                    @include xsResponsive(){
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

#sideMenu{
    padding-top: 50px;
    position: fixed;
    height: 100%;
    width: 200px;
    background-color: $primaryColor;
    box-shadow: $boxShadowColor;
    top: 0px;
    left: 0;
    margin-left: -250px;
    overflow-y: auto;
    z-index: 9999;
    transition: .5s;
    &.sideMenu_active{
        margin-left: 0px;
    }
    .img{
        position: relative;
        margin-top: 10px;
        img{
            width: 70px;
            height: 70px;
            border: 2px solid $secondaryColor;
            border-radius: 50%;
        }
        i{
            position: absolute;
            top: 0;
            right: 10px;
            padding: 5px;
            cursor: pointer;
            color: $secondaryColor;
            font-size: 20px;
        }
        
    }
    ul{
        text-align: center;
        li{
           display: block;
           position: relative;
           &:hover ul {
               visibility: visible;
               opacity: 1;
               top: 100%;
           }
           a {
               padding: 10px 10px;
               color: $primary_textColor;
               font-size: 15px;
               font-weight: 300;
               letter-spacing: 1px;
               transition: linear .4s;
               transform: scale(1);
               @include xsResponsive() {
                   padding: 7px;
                   font-size: 14px;
                   letter-spacing: normal;
               }
               &:hover {
                   color: $secondaryColor;
                   transform: scale(110%);
               }
           }
           ul {
               background-color: $primaryColor;
               position: absolute;
               left: 10px;
               top: 150%;
               visibility: hidden;
               opacity: 0;
               transition: .6s;
               z-index: 99999;
           }
        }
    }   
}